version: 2
jobs:
  build:
    docker:
      - image: circleci/python:2.7.13
    working_directory: ~/app

    steps:
      - checkout
      - restore_cache:
          keys:
            - dependencies-{{ checksum "requirements.txt" }}
            - dependencies-

      - run:
          name: install dependencies
          command: |
            virtualenv venv
            source venv/bin/activate
            pip install -r requirements.txt

      - save_cache:
          paths:
            - ./venv
          key: dependencies-{{ checksum "requirements.txt" }}

  test:
    docker:
      - image: circleci/postgres:9.4-alpine
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: test_database
          POSTGRES_PASSWORD: ""

      - image: circleci/python:2.7.13
        environment:
          TODO_ENV: testing
          DATABASE_URL: postgresql://postgres@localhost/test_database
          DEV_SECRET_KEY: SECRETKEY
          APP_SETTING: development 

    working_directory: ~/app

    steps:
      - restore_cache:
          paths:
            - ./venv
          keys:
            - dependencies-{{ checksum "requirements.txt" }}
            - dependencies-


      - run:
         name: confirm postgres is up
         command: |
           count=0
           while [ $count -lt 12 ] ; do
              if exec 10<>/dev/tcp/127.0.0.1/5432; then
                echo "Hey, postgres is up"
                break
              fi
              sleep 5
              count=$((count + 1))
           done
           if [ $count -eq 12 ]; then
             echo "Postgress is still down!"
             exit 1
           fi

      - run:
          name: run tests
          command: |
            source venv/bin/activate
            nosetests


workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
